[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "bundle/VimCompletesMe"]
	path = bundle/VimCompletesMe
	url = git@github.com:ajh17/VimCompletesMe.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git

[submodule "bundle/vim-hybrid-material"]
	path = bundle/vim-hybrid-material
	url = git@github.com:kristijanhusak/vim-hybrid-material.git
[submodule "bundle/vim-yaml"]
	path = bundle/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
